on: push
name: Build and Test
jobs:
  build-node:
    runs-on: ubuntu-latest
    container: node:22
    steps:
      - run: node --version
      - run: npm --version
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run build
      - run: npm run test
